<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xht.generate.dao.mapper.GenColumnInfoMapper">

    <resultMap id="BaseResultMap" type="com.xht.generate.domain.entity.GenColumnInfoEntity">
            <id property="id" column="id" />
            <result property="tableId" column="table_id" />
            <result property="columnName" column="column_name" />
            <result property="dbDataType" column="db_data_type" />
            <result property="columnComment" column="column_comment" />
            <result property="extConfig" column="ext_config" />
            <result property="defaultValue" column="default_value" />
            <result property="isRequired" column="is_required" />
            <result property="isPrimary" column="is_primary" />
            <result property="isForeign" column="is_foreign" />
            <result property="foreignTable" column="foreign_table" />
            <result property="foreignColumn" column="foreign_column" />
            <result property="sortOrder" column="sort_order" />
            <result property="createBy" column="create_by" />
            <result property="createTime" column="create_time" />
            <result property="updateBy" column="update_by" />
            <result property="updateTime" column="update_time" />
            <result property="isDel" column="is_del" />
    </resultMap>

    <sql id="Base_Column_List">
        id,table_id,column_name,db_data_type,column_comment,ext_config,
        default_value,is_required,is_primary,is_foreign,foreign_table,
        foreign_column,sort_order,create_by,create_time,update_by,
        update_time,is_del
    </sql>
</mapper>
