<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xht.generate.dao.mapper.GenProjectDataSourceMapper">

    <resultMap id="BaseResultMap" type="com.xht.generate.domain.entity.GenProjectDataSourceEntity">
            <id property="id" column="id" />
            <result property="projectId" column="project_id" />
            <result property="dataSourceId" column="data_source_id" />
            <result property="isDefault" column="is_default" />
    </resultMap>

</mapper>
