<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xht.generate.dao.mapper.GenTableInfoMapper">

    <resultMap id="BaseResultMap" type="com.xht.generate.domain.entity.GenTableInfoEntity">
            <id property="id" column="id" />
            <result property="projectId" column="project_id" />
            <result property="dataSourceId" column="data_source_id" />
            <result property="tableName" column="table_name" />
            <result property="tableComment" column="table_comment" />
            <result property="primaryKey" column="primary_key" />
            <result property="codeName" column="code_name" />
            <result property="codeComment" column="code_comment" />
            <result property="createBy" column="create_by" />
            <result property="createTime" column="create_time" />
            <result property="updateBy" column="update_by" />
            <result property="updateTime" column="update_time" />
            <result property="isDel" column="is_del" />
    </resultMap>

    <sql id="Base_Column_List">
        id,project_id,data_source_id,table_name,table_comment,primary_key,
        code_name,code_comment,create_by,create_time,update_by,
        update_time,is_del
    </sql>
</mapper>
