<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xht.auth.authentication.dao.mapper.AuthenticationMapper">

    <resultMap id="DtoResultMap" type="com.xht.auth.authentication.dto.UserLoginDTO">
        <id property="id" column="id"/>
        <result property="userType" column="user_type"/>
        <result property="userName" column="user_name"/>
        <result property="nickName" column="nick_name"/>
        <result property="passWord" column="pass_word"/>
        <result property="passWordSalt" column="pass_word_salt"/>
        <result property="userStatus" column="user_status"/>
        <result property="userPhone" column="user_phone"/>
        <result property="userAvatar" column="user_avatar"/>
        <result property="deptId" column="dept_id"/>
        <result property="deptName" column="dept_name"/>
        <result property="registerDate" column="create_time"/>
    </resultMap>

    <resultMap id="Oauth2ClientResultMap" type="com.xht.auth.authentication.dto.Oauth2ClientDTO">
        <id property="id" column="id"/>
        <result property="clientId" column="client_id"/>
        <result property="clientIdIssuedAt" column="client_id_issued_at"/>
        <result property="clientSecret" column="client_secret"/>
        <result property="clientSecretExpiresAt" column="client_secret_expires_at"/>
        <result property="clientName" column="client_name"/>
        <result property="clientAuthenticationMethods" column="client_authentication_methods"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result property="authorizationGrantTypes" column="authorization_grant_types"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result property="redirectUris" column="redirect_uris"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result property="postLogoutRedirectUris" column="post_logout_redirect_uris"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result property="scopes" column="scopes"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result property="accessTokenValidity" column="access_token_validity"/>
        <result property="refreshTokenValidity" column="refresh_token_validity"/>
        <result property="additionalInformation" column="additional_information"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result property="autoApprove" column="auto_approve"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <!-- 根据用户名和登录类型查询用户信息 -->
    <select id="findByUsernameAndLoginType" resultMap="DtoResultMap">
        <bind name="delFlag" value="@com.xht.framework.mybatis.enums.DelFlagEnum@NORMAL.getValue()"/>
        SELECT
        t1.id,t1.user_type,t1.user_name,t1.nick_name,t1.pass_word,t1.pass_word_salt,
        t1.user_status,t1.user_phone,t1.user_avatar,t1.dept_id,t1.dept_name,
        t1.create_time
        FROM sys_user t1 where t1.del_flag = #{delFlag}
        <if test="loginType == @com.xht.framework.core.enums.LoginTypeEnums@PASSWORD.value">
            AND t1.user_name = #{userName}
        </if>
        <if test="loginType == @com.xht.framework.core.enums.LoginTypeEnums@PHONE.value">
            AND t1.user_phone = #{userName}
        </if>
    </select>

    <!-- 根据用户ID查询用户拥有的角色编码集合 -->
    <select id="findRoleCodesByUserId" resultType="java.lang.String">
        <bind name="delFlag" value="@com.xht.framework.mybatis.enums.DelFlagEnum@NORMAL.getValue()"/>
        SELECT
        sys_role.role_code
        FROM
        sys_user_role
        LEFT JOIN sys_role ON sys_user_role.role_id = sys_role.id
        WHERE sys_role.del_flag = #{delFlag}
        AND sys_user_role.user_id = #{userId}
    </select>

    <!-- 根据用户ID查询用户拥有的菜单编码集合 -->
    <select id="findMenuCodesByUserId" resultType="java.lang.String">
        <bind name="delFlag" value="@com.xht.framework.mybatis.enums.DelFlagEnum@NORMAL.getValue()"/>
        SELECT
        sys_menu.menu_authority
        FROM
        sys_role_menu
        LEFT JOIN sys_menu ON sys_role_menu.menu_id = sys_menu.id
        LEFT JOIN sys_role ON sys_role_menu.role_id = sys_role.id
        LEFT JOIN sys_user_role ON sys_role.id = sys_user_role.role_id
        WHERE sys_menu.del_flag = #{delFlag}
        AND sys_menu.menu_status = '0'
        AND sys_menu.menu_type = 'B'
        AND sys_user_role.user_id = #{userId}
    </select>

    <!-- 根据客户端标识查询客户端信息 -->
    <select id="findClientDetailsById" resultMap="Oauth2ClientResultMap">
        <bind name="delFlag" value="@com.xht.framework.mybatis.enums.DelFlagEnum@NORMAL.getValue()"/>
        select id,client_id,client_id_issued_at,client_secret,client_secret_expires_at,client_name,
        client_authentication_methods,authorization_grant_types,redirect_uris,scopes,access_token_validity,
        refresh_token_validity,additional_information,auto_approve,remark,del_flag
        from sys_oauth2_client where del_flag = #{delFlag} and client_id = #{clientId}
    </select>

</mapper>
