<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>SSO登录页面</title>
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
</head>
<body style="width: 100vw;height: 100vh;display: flex;
flex-direction: column;
justify-items: center;align-items: center;justify-content:center;overflow: hidden;">
<h1>Please Log In</h1>
<div th:if="${param.error}">
    Invalid username and password.</div>
<div th:if="${param.logout}">
    You have been logged out.</div>
<form th:action="@{/sso/unLogin}" method="post">
    <div>
        <label>
            <input type="text" name="username" placeholder="Username" value="admin"/>
        </label>
    </div>
    <div>
        <label>
            <input type="password" name="password" placeholder="Password" value="123456"/>
        </label>
    </div>
    <input type="submit" value="Log in" />
</form>
</body>
</html>