<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xht.auth.consent.dao.mapper.SysOauth2AuthorizationConsentMapper">

    <resultMap id="BaseResultMap" type="com.xht.auth.consent.entity.SysOauth2AuthorizationConsentEntity">
            <id property="id" column="id" />
            <result property="registered_client_id" column="registered_client_id" />
            <result property="principal_name" column="principal_name" />
            <result property="authorities" column="authorities" />
            <result property="create_by" column="create_by" />
            <result property="create_time" column="create_time" />
            <result property="update_by" column="update_by" />
            <result property="update_time" column="update_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,registered_client_id,principal_name,authorities,create_by,create_time,
        update_by,update_time
    </sql>
</mapper>
