<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xht.framework.mybatis.blog.mapper.BLogMapper">
    <!-- 保存 blog 日志 -->
    <insert id="saveLog" parameterType="com.xht.framework.core.support.blog.dto.BLogDTO">
        INSERT INTO `b_log` (`id`,
                             `trace_id`,
                             `title`,
                             `service_name`,
                             `description`,
                             `status`,
                             `remote_addr`,
                             `user_agent`,
                             `request_uri`,
                             `method`,
                             `params`,
                             `execute_time`,
                             `timing`,
                             `exception`,
                             `create_by`,
                             `create_time`,
                             `update_by`,
                             `update_time`)
        VALUES (#{id},
                #{dto.traceId},
                #{dto.title},
                #{dto.serviceName},
                #{dto.description},
                #{dto.status},
                #{dto.remoteAddr},
                #{dto.userAgent},
                #{dto.requestUri},
                #{dto.method},
                #{dto.params},
                #{dto.executeTime},
                #{dto.timing},
                #{dto.exception},
                #{dto.userAccount},
                #{dto.executeTime},
                #{dto.userAccount},
                #{dto.executeTime};
    </insert>
</mapper>
