<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xht.system.dept.mapper.SysDeptPostMapper">

    <resultMap id="BaseResultMap" type="com.xht.system.dept.domain.entity.SysDeptPostEntity">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="deptId" column="dept_id" jdbcType="BIGINT"/>
        <result property="postCode" column="post_code" jdbcType="VARCHAR"/>
        <result property="postName" column="post_name" jdbcType="VARCHAR"/>
        <result property="postSort" column="post_sort" jdbcType="INTEGER"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="isDel" column="is_del" jdbcType="CHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,dept_id,post_code,post_name,post_sort,remark,
        is_del,create_time,create_by,update_time,update_by
    </sql>

</mapper>
