<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xht.system.modules.dict.mapper.SysDictItemMapper">

    <resultMap id="BaseResultMap" type="com.xht.system.modules.dict.domain.entity.SysDictItemEntity">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="dictId" column="dict_id" jdbcType="BIGINT"/>
        <result property="dictCode" column="dict_code" jdbcType="VARCHAR"/>
        <result property="itemLabel" column="item_label" jdbcType="VARCHAR"/>
        <result property="itemValue" column="item_value" jdbcType="VARCHAR"/>
        <result property="itemColor" column="item_color" jdbcType="VARCHAR"/>
        <result property="sortOrder" column="sort_order" jdbcType="INTEGER"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
        <result property="isDel" column="is_del" jdbcType="TINYINT"/>
    </resultMap>


    <sql id="Base_Column_List">
        id
        ,dict_id,dict_code,item_label,item_value,item_color,
        sort_order,remark,status,create_time,update_time,
        create_by,update_by,is_del
    </sql>
</mapper>
