<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xht.system.modules.authority.mapper.SysMenuMapper">

    <resultMap id="BaseResultMap" type="com.xht.system.modules.authority.domain.entity.SysMenuEntity">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="parentId" column="parent_id" jdbcType="BIGINT"/>
            <result property="menuType" column="menu_type" jdbcType="INTEGER"/>
            <result property="menuName" column="menu_name" jdbcType="VARCHAR"/>
            <result property="menuIcon" column="menu_icon" jdbcType="VARCHAR"/>
            <result property="menuPath" column="menu_path" jdbcType="VARCHAR"/>
            <result property="menuHidden" column="menu_hidden" jdbcType="TINYINT"/>
            <result property="menuCache" column="menu_cache" jdbcType="TINYINT"/>
            <result property="menuStatus" column="menu_status" jdbcType="TINYINT"/>
            <result property="menuAuthority" column="menu_authority" jdbcType="VARCHAR"/>
            <result property="menuSort" column="menu_sort" jdbcType="INTEGER"/>
            <result property="viewName" column="view_name" jdbcType="VARCHAR"/>
            <result property="viewPath" column="view_path" jdbcType="VARCHAR"/>
            <result property="frameFlag" column="frame_flag" jdbcType="TINYINT"/>
            <result property="createBy" column="create_by" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="BIGINT"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDel" column="is_del" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,parent_id,menu_type,menu_name,menu_icon,menu_path,
        menu_hidden,menu_cache,menu_status,menu_authority,menu_sort,
        view_name,view_path,frame_flag,frame_url,create_by,
        create_time,update_by,update_time,is_del
    </sql>
</mapper>
