<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xht.system.modules.authority.dao.mapper.SysRoleMapper">

    <resultMap id="BaseResultMap" type="com.xht.system.modules.authority.domain.entity.SysRoleEntity">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="roleCode" column="role_code" jdbcType="VARCHAR"/>
        <result property="roleName" column="role_name" jdbcType="VARCHAR"/>
        <result property="dataScope" column="data_scope" jdbcType="TINYINT"/>
        <result property="roleStatus" column="role_status" jdbcType="TINYINT"/>
        <result property="roleSort" column="role_sort" jdbcType="INTEGER"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
        <result property="isDel" column="is_del" jdbcType="TINYINT"/>
    </resultMap>

</mapper>
