* {
    margin: 0;
    padding: 0;
}

html,
body,
#app {
    margin: 0;
    padding: 0;
    height: 100%;
}
.xht-layout {
    width: 100%;
    height: 100%;
    --xht-header-height: 50px;
}

.xht-header {
    user-select: none;
    background: #ffffff;
    height: var(--xht-header-height) !important;
    padding: 0 !important;
    border-bottom: var(--el-border);
    box-shadow: 0 6px 16px 2px #0000000a,
    0 4px 10px #00000014;
    display: flex;
    align-items: center;
}

.xht-main {
    padding: 0;
    flex: 1;
}
.el-menu--horizontal {
    --el-menu-horizontal-height: 100px;
}
