* {
    margin: 0;
    padding: 0;
}

html,
body,
#app {
    margin: 0;
    padding: 0;
    height: 100%;
}

.xht-layout {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    --xht-header-height: 50px;
}

.xht-header {
    user-select: none;
    background: #ffffff;
    height: var(--xht-header-height) !important;
    border-bottom: var(--el-border);
    display: flex;
    align-items: center;
}

.xht-main {
    padding: 0;
    flex: 1;
}

.el-menu--horizontal {
    --el-menu-horizontal-height: 100px;
}

.el-menu-item.is-active {
    background: var(--el-color-primary-light-9) !important;
    color: var(--el-color-primary) !important;
}

.xht-layout-body {
    box-sizing: border-box;
    padding: 10px 10px 5px 10px;
    min-height: 100%;
    border-radius: 4px;
    border: 1px solid var(--el-border-color-light);
    overflow: hidden;
    color: var(--el-text-color-primary);
}
