
#user  nobody;
worker_processes 1;

#error_log  logs/error.log;
#error_log  logs/error.log  notice;
#error_log  logs/error.log  info;

#pid        logs/nginx.pid;
events {

    worker_connections 1024;
}


http {

    include mime.types;
    default_type application/octet-stream;
    sendfile on;
    keepalive_timeout 65;
    # ==============================================
    # 一、授权服务器集群（100台都在这里加）
    # ==============================================
    upstream auth_cluster {

        server 127.0.0.1:9000 weight=1;
        # 在这里加 10台、50台、100台 都可以
        ip_hash;
    }

    # ==============================================
    # 二、网关集群（业务接口）
    # ==============================================
    upstream gateway_cluster {

        server 127.0.0.1:8080 weight=1;
        # 在这里加 10台、50台、100台 都可以
        ip_hash;
    }


    server {

        listen 80;
        server_name localhost 你的域名;
        gzip on;
        gzip_min_length 1k;
        gzip_comp_level 4;
        gzip_proxied any;
        gzip_types text/plain text/xml text/css;
        gzip_vary on;
        gzip_disable "MSIE [1-6]\.(?!.*SV1)";

        location ^~/api/ {

            proxy_pass http://gateway_cluster;
            proxy_set_header Host $http_host;
            proxy_set_header REMOTE-HOST $remote_addr;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto http;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "upgrade";
            proxy_set_header REMOTE-HOST $remote_addr;
        }

        location / {

            root /usr/local/nginx/html/admin;
            try_files $uri $uri/ /index.html;
            index index.html index.htm;
        }


        # 屏蔽所有敏感路径
        location ~* ^/(actuator|swagger-ui|v3/api-docs|swagger-resources|webjars|doc.html) {

            return 403; # 禁止访问
        }
        error_page 500 502 503 504 /50x.html;
        location = /50x.html {

            root html;
        }
    }


    server {

        listen 80;
        server_name localhost 你的域名;
        gzip on;
        gzip_min_length 1k;
        gzip_comp_level 4;
        gzip_proxied any;
        gzip_types text/plain text/xml text/css;
        gzip_vary on;
        gzip_disable "MSIE [1-6]\.(?!.*SV1)";

        location ^~/api/ {

            proxy_pass http://auth_cluster/;
            proxy_set_header Host $http_host;
            proxy_set_header REMOTE-HOST $remote_addr;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto http;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "upgrade";
            proxy_set_header REMOTE-HOST $remote_addr;
        }
        location ^~/oauth2/ {

            proxy_pass http://auth_cluster;
            proxy_set_header Host $http_host;
            proxy_set_header REMOTE-HOST $remote_addr;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto http;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "upgrade";
            proxy_set_header REMOTE-HOST $remote_addr;
        }
        location / {

            root /usr/local/nginx/html/iam;
            try_files $uri $uri/ /index.html;
            index index.html index.htm;
        }

    }

}
