server:
  port: 9000
spring:
  profiles:
    active: dev
  application:
    name: xht-auth
  security:
    oauth2:
      resource server:
        opaque token:
          introspection-uri: http://127.0.0.1:9000/oauth2/introspect
          client-id: oidc-client
          client-secret: secret
  # 数据源配置
  datasource:
    password: 123456
    url: jdbc:mysql://localhost:3306/xht_platform?useUnicode=true&characterEncoding=utf8&zeroDateTimeBehavior=convertToNull&useSSL=true&serverTimezone=GMT%2B8
    username: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  cloud:
    nacos:
      discovery:
        server-addr: @nacos.discovery.address@
        username: @nacos.username@
        password: @nacos.password@
        namespace: @nacos.namespace@
        group: @nacos.group@
      config:
        server-addr: @nacos.config.address@
        username: @nacos.username@
        password: @nacos.password@
        namespace: @nacos.namespace@
        group: @nacos.group@
        file-extension: yml
        prefix: ${spring.application.name} # 默认配置
  data:
    redis:
      host: localhost
      port: 6379
      timeout: 10000
      jedis:
        pool:
          enabled: true
          max-active: 8
          max-wait: -1ms
          max-idle: 8
          min-idle: 0
      password:
springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
  override-with-generic-response: false # 解决springdoc和knife4版本冲突问题
  default-flat-param-object: true # 解决参数列表显示问题
  paths-to-exclude:
    - /api/**
    - /error
    - /actuator/**
    - /favicon.ico
xht:
  safety:
    xss:
      enable: true

feign:
  sentinel:
    enabled: true