server:
  port: 8080
spring:
  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              lower-case-service-id: true
              enabled: true
          routes:
            - id: xht-auth
              uri: lb://xht-auth #此处需要使用lb协议
              predicates:
                - Path=/auth/**
              filters:
                - StripPrefix=1
            - id: xht-module-admin
              uri: lb://xht-module-admin #此处需要使用lb协议
              predicates:
                - Path=/admin/**
              filters:
                - StripPrefix=1
            - id: xht-module-generate
              uri: lb://xht-module-generate #此处需要使用lb协议
              predicates:
                - Path=/generate/**
              filters:
                - StripPrefix=1
            - id: xht-module-monitor
              uri: lb://xht-module-monitor #此处需要使用lb协议
              predicates:
                - Path=/monitor/**
              filters:
                - StripPrefix=1

knife4j:
  gateway:
    enabled: true     # ① 第一个配置，开启gateway聚合组件
    strategy: discover # ② 第二行配置，设置聚合模式采用discover服务发现的模式
    discover:
      enabled: true   # ③ 第三行配置，开启discover模式
      version: openapi3 # ④ 第四行配置，聚合子服务全部为Swagger2规范的文档