<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xht.workflow.flowable.mapper.ModelMapper">

    <!-- 校验ModelKey是否重复 -->
    <select id="checkModelKeyExist" resultType="java.lang.Boolean">
        SELECT COUNT(1) > 0
        FROM ACT_RE_MODEL
        WHERE KEY_ = #{modelKey}
        <if test="excludeModelId != null and excludeModelId != ''">
            AND ID_ != #{excludeModelId}
        </if>
    </select>

    <!-- 校验Model名称是否重复 -->
    <select id="checkModelNameExist" resultType="java.lang.Boolean">
        SELECT COUNT(1) > 0
        FROM ACT_RE_MODEL
        WHERE NAME_ = #{modelName}
        <if test="excludeModelId != null and excludeModelId != ''">
            AND ID_ != #{excludeModelId}
        </if>
    </select>

    <!-- key 或 name 任一重复即返回true -->
    <select id="checkModelKeyAndNameExist" resultType="java.lang.Boolean">
        SELECT COUNT(1) > 0
        FROM ACT_RE_MODEL
        WHERE
        (KEY_ = #{modelKey} OR NAME_ = #{modelName})
        <if test="excludeModelId != null and excludeModelId != ''">
            AND ID_ != #{excludeModelId}
        </if>
    </select>
</mapper>
